<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<link rel="stylesheet" href="../../assets/css/style.css">

<title>Reservas</title>
</head>
<body>
	<div class="gotop toinvisivel bi bi-arrow-up btn-fundo"
		onclick="scrollToTop()"></div>
	<header>
		<!-- Começo do menu de navegação -->
		<nav class="navbar navbar-expand-md bg-fundo navbar-dark pe-2">
			<div class="container-fluid d-flex justify-content-between">
				<a href="/"
					class="navbar-brand d-flex align-items-center logo"> <img
					class="logotipo-2" src="../../assets/img/logo_white.png" alt="Logotipo">
					Skyline
				</a>
				<button class="navbar-toggler mx-sm-3" type="button"
					data-bs-toggle="collapse" data-bs-target="#hamburguer">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="container-fluid">
					<div class="collapse navbar-collapse" id="hamburguer">
						<div class="navbar-nav ms-auto">
			              <a href="/" class="nav-link">Home</a>
			              <a href="/destino" class="nav-link">Destino</a>
			              <a href="/promocoes" class="nav-link">Promoções</a>
			              <a href="/contato" class="nav-link">Contato</a>
			              <hr class="group-divider">
			  				<div class="dropdown ms-2">
								<button class="btn btn-outline-light btn-fundo dropdown-toggle"
									type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Admin Pages</button>
								<ul class="dropdown-menu">
									<li><a class="dropdown-item" href="/admin/usuario">Clientes</a></li>
									<li><a class="dropdown-item" href="/admin/contato">Contato</a></li>
									<li><a class="dropdown-item" href="/admin/cidade">Cidades</a></li>
									<li><a class="dropdown-item" href="/admin/voo">Vôo</a></li>
									<li><a class="dropdown-item" href="/admin/reserva">Reservas</a></li>
								</ul>
							</div>
						<!-- div-navbar -->
					</div>
				</div>
			</div>

		</nav>
		<!-- O menu de navegação acaba aqui -->
	</header>
	<main>
		<section id="fundos"
			class="d-flex justify-content-center align-items-center text-center">
			<div class="fundo-azul-opaco revelar">
				<h1 class="titulo-3">Reservas</h1>
				<p>Página de Cadastro de Reservas.</p>
			</div>
		</section>
		<section>
			<div class="container max-formulario py-5">
				<div class="row">
					<div class="col">
						<h1 class="text-center titulo-3">Reservas</h1>
						<hr class="group-divider">
						<div class="table-responsive">
							<table class="table table-striped">

								<tr>
									<th>Data reserva</th>
									<th>Qtd pessoas</th>
									<th>Cliente</th>
									<th>Preço total</th>
									<th>Origem</th>
									<th>Destino</th>
									<th>Cancelada</th>
									<th>Ações</th>
								</tr>

									<tr th:each="res : ${reservas}">
										<td th:text="${#temporals.format(res.data_reserva, 'dd/MM/yyyy')}"></td>
										<td th:text="${res.num_pessoas}"></td>
										<td th:text="'__${res.usuario.cpf}__' + '-' + '__${res.usuario.nome}__'"></td>
										<td th:text="'R$ ' + '__${res.voo.preco_unit * res.num_pessoas}__'"></td>
										<td th:text="'__${res.voo.origem.cidade}__' + '-' + '__${res.voo.origem.estado}__'"></td>
										<td th:text="'__${res.voo.destino.cidade}__' + '-' + '__${res.voo.destino.estado}__'"></td>
										<td>
											<a href="#" class="text-decoration-none" data-bs-toggle="modal" 
												th:data-bs-target="'#cancel' + '__${res.id}__'">
													<span th:text="'__${res.cancelada ? 'Sim' : 'Não'}__'"></span>
													<i class="bi bi-pencil-fill"></i>
											</a>
										</td>
										<td>
											<div class="btn-group">
												<a href="#" class="btn btn-sm btn-outline-secondary"
													data-bs-toggle="modal" th:data-bs-target="'#update' + '__${res.id}__'"><i class="bi bi-pencil-square"></i>
												</a>
												<button class="btn btn-sm btn-outline-danger" 
													th:onclick="'deleteItem(\'/admin/reserva\', ' + '__${res.id}__' + ', ' + '\'__${res.usuario.cpf}__' + '-' + '__${res.usuario.nome}__\');'">
													<i class="bi bi-trash3-fill"></i>
												</button>
											</div>
										</td>
									
										<div class="modal" th:id="'cancel' + '__${res.id}__'" tabindex="-1">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Detalhes da Reserva</h5>
														<button type="button" class="btn-close"
															data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														<p>
															<strong>Data da reserva: </strong> <span th:text="${#temporals.format(res.data_reserva, 'dd/MM/yyyy')}"></span>
														</p>
														<p>
															<strong>Quantidade de pessoas: </strong> <span th:text="${res.num_pessoas}"></span>
														</p>
														<p>
															<strong>Cliente: </strong> <span th:text="'__${res.usuario.cpf}__'+' __${res.usuario.nome}__'"></span>
														</p>
														<p>
															<strong>Preço total:</strong> <san th:text="'R$ '+'__${res.voo.preco_unit * res.num_pessoas}__'"></san>
														</p>
														<p>
															<strong>Origem:</strong> <span th:text="'__${res.voo.origem.cidade}__'+'-'+'__${res.voo.origem.estado}__'"></span>
														</p>
														<p>
															<strong>Destino:</strong> <span th:text="'__${res.voo.destino.cidade}__'+'-'+'__${res.voo.destino.estado}__'"></span>
														</p>
														<p>
															<strong>Cancelada:</strong> <span th:text="'__${res.cancelada ? 'Sim' : 'Não'}__'"></span>
														</p>
	
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-sm btn-secondary"
															data-bs-dismiss="modal">Voltar</button>
														<a th:href="@{/admin/reserva/cancel/{id} (id=${res.id})}"
															th:class="${res.cancelada ? 'btn btn-sm btn-disabled disabled' : 'btn btn-sm btn-danger' }">
															Cancelar Reserva
														</a>
													</div>
												</div>
											</div>
										</div>
									<!-- Modal update -->
									<div class="modal" th:id="'update' + '__${res.id}__'" tabindex="-1 ">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title">Atualizar Reserva</h5>
													<button type="button" class="btn-close"
														data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form method="post">
														<input type="hidden" th:value="${res.id}" name="id">
														<input type="hidden" th:value="${res.data_reserva}" name="data_reserva">
														<input type="hidden" th:value="'__${res.usuario.cpf}__'" name="usuario">

														<div class="mb-3">
															<label for="num_pessoas" class="col-form-label">Quantidade de pessoas:</label> 
															<input type="text" class="form-control num_pessoas"
																id="num_pessoas" name="num_pessoas" th:value="${res.num_pessoas}" required>
														</div>
														
														<div class="mb-3">
															<label for="cancelada" class="col-form-label">Cancelada:</label> 
															<input type="hidden" name="cancelada" value="false">
															<input type="text" class="form-control" id="cancelada1" 
																th:value="'__${res.cancelada ? 'Sim' : 'Não'}__'" readonly>
														</div>

														<div class="mb-3">
															<label for="voo" class="col-form-label">Vôo:</label> <select
																class="form-control" id="voo" name="voo" required>
																<option value="" th:text="'__${res.voo.origem.cidade}__-__${res.voo.origem.estado}__ para ' + 
																	'__${res.voo.destino.cidade}__-__${res.voo.destino.estado}__' +
																	' __${#temporals.format(res.voo.data_partida, 'dd/MM/yyyy')}__ ' +
																	'preço unitário R$ __${res.voo.preco_unit}__'"
																	disabled selected>
																</option>
															
																<option th:each="v : ${voos}" th:value="${v.id}" 
																	th:text="'__${v.origem.cidade}__-__${v.origem.estado}__ para ' +
																	'__${v.destino.cidade}__-__${v.destino.estado}__' +
																	' __${#temporals.format(v.data_partida, 'dd/MM/yyyy')}__ ' + 
																	'preço unitário R$ __${v.preco_unit}__'">
																</option>
															</select>
														</div>

														<div class="modal-footer">
															<button type="button" class="btn btn-sm btn-secondary"
																data-bs-dismiss="modal">Cancelar</button>
															<button type="submit" class="btn btn-sm btn-primary">Atualizar</button>
														</div>

													</form>
												</div>
											</div>
										</div>
									</div>
								</tr>

							</table>
							<!-- Modal Create -->
							<a href="#" class="btn btn-outline-light btn-fundo"
								data-bs-toggle="modal" data-bs-target="#createReserva">Cadastrar
								Reserva</a>
							<div class="modal" id="createReserva" tabindex="-3">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Cadastrar Reserva</h5>
											<button type="button" class="btn-close"
												data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											
											<form method="POST">
												<div class="mb-3">
													<label for="num_pessoas1" class="col-form-label">Quantidade
														de pessoas:</label> <input type="text" class="form-control num_pessoas"
														id="num_pessoas1" name="num_pessoas" required>
												</div>
												
												<div class="mb-3">
													<label for="assentos1" class="col-form-label">Cliente:</label>
													<select class="form-control" id="clientes1" name="usuario" required>
														<option value="" disabled selected>Selecione um cliente:</option>
														<option th:each="usu : ${usuarios}" th:value="'__${usu.cpf}__'" 
														th:text="'__${usu.cpf}__' + '-' + '__${usu.nome}__'"></option>
													</select>
												</div>
												
												<div class="mb-3">
													<label for="voo1" class="col-form-label">Vôo:</label>
													<select class="form-control" id="voo1" name="voo"
														required>
														<option value="" disabled selected>Selecione um Vôo</option>
															<option th:each="v : ${voos}" th:value="'__${v.id}__'"
																th:text="'__${v.origem.cidade}__' + '-' + '__${v.origem.estado}__' +
																 ' para ' + '__${v.destino.cidade}__' + '-' + '__${v.destino.estado}__' +
																 ' __${#temporals.format(v.data_partida, 'dd/MM/yyyy')}__' +
																 ' preço unitário R$ ' + '__${v.preco_unit}__'">
															</option>
													</select>
												</div>
												
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary"
														data-bs-dismiss="modal">Cancelar</button>
													<button type="submit" class="btn btn-primary">Cadastrar</button>
												</div>

											</form>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</section>


	</main>
	<footer>
		<div class="container-fluid bg-fundo rodape mt-5">
			<div class="container">
				<div class="row row-cols-1 row-cols-md-3 g-3">
					<!-- Grupo Fale Conosco -->
					<div class="col">
						<div class="gp-col-foot">
							<h3 class="foot-title gp-revelar">Fale Conosco</h3>
							<hr class="group-divider">
							<div class="gp-footer gp-revelar">
								<i class="bi bi-telephone-fill fs-4"></i>
								<p class="marc">+55 (61) 9 9999-999</p>
							</div>
							<div class="gp-footer gp-revelar">
								<i class="bi bi-envelope-fill fs-4"></i>
								<p class="marc">skyline@skyline.com</p>
							</div>
							<div class="gp-footer gp-revelar">
								<i class="bi bi-geo-alt-fill fs-4"></i>
								<p class="marc">72.145-831 Brasília-DF</p>
							</div>
						</div>
					</div>
					<!-- Grupo Redes Sociais -->
					<div class="col">
						<div class="gp-col-foot">
							<h3 class="foot-title gp-revelar">Redes Sociais</h3>
							<hr class="group-divider">
							<div class="gp-footer gp-revelar">
								<i class="bi bi-instagram fs-4"></i>
								<p class="marc">instagram.com/skyline</p>
							</div>
							<div class="gp-footer gp-revelar">
								<i class="bi bi-facebook fs-4"></i>
								<p class="marc">facebook.com/skyline</p>
							</div>
							<div class="gp-footer gp-revelar">
								<i class="bi bi-youtube fs-4"></i>
								<p class="marc">youtube.com/skyline</p>
							</div>
						</div>
					</div>
					<!-- Grupo Seções nessa página -->
					<div class="col">
						<div class="gp-col-foot">
							<h3 class="foot-title gp-revelar">Powered By</h3>
							<hr class="group-divider">
							<div class="gp-footer gp-revelar">
								<i class="bi bi-filetype-html fs-4"></i>
								<p class="marc">HTML/CSS</p>
							</div>
							<div class="gp-footer gp-revelar">
								<i class="bi bi-bootstrap-fill fs-4"></i>
								<p class="marc">BootStrap 5.3.1</p>
							</div>
							<div class="gp-footer gp-revelar">
								<i class="bi bi-filetype-js fs-4"></i>
								<p class="marc">ScrollReveal</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="marca-pessoal">
				<a class="git-link fs-3" href="https://github.com/AdrianRoger"
					target="_blank"><i class="bi bi-github me-2"></i>github.com/AdrianRoger</a>
			</div>
		</div>
	</footer>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
	<script src="https://unpkg.com/scrollreveal"></script>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js"></script>
	<script src="../../assets/js/script.js"></script>
	<script>
		$('.num_pessoas').mask('000');
	</script>
</body>
</html>
